.logo {
  font-size: 50px;
  color: $color-primary;
  padding: 0.5rem;
  border: 2px solid $color-primary;
  border-radius: 10px;
}

.main-name {
  font-family: $font-nunito;
  font-size: 50px;
  color: $color-secondary;
  @include textStyles;
}

.sub-name {
  font-family: $font-josefinSans;
  font-size: 18px;
  color: $color-secondary;
  @include textStyles;
}

.main-heading {
  font-family: $font-dancingScript;
  font-size: 110px;
  font-weight: 300;
  color: $color-primary;
  margin-bottom: 20px;
}

.sub-heading {
  font-family: $font-josefinSans;
  font-size: 50px;
  font-weight: 300;
  color: $color-secondary;
  margin-bottom: 40px;
}

.main-btn {
  padding: 1rem;
  font-family: $font-josefinSans;
  color: $color-primary;
  background-color: transparent;
  border: 2px solid $color-primary;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 1s;
  &:hover {
    background-color: $color-primary;
    color: $color-dark;
  }
}

.card {
  width: 33.3333%;
  height: 30vw;
  position: relative;
  overflow: hidden;

  &:hover .card-overlay {
    left: 0;
  }

  &-overlay {
    @extend %fullSpace;
    @include flexLayout();
    flex-direction: column;
    position: absolute;
    top: 0;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: $color-white;
    z-index: 10;
    transition: left 0.5s;

    &-heading {
      @include textStyles;
      font-family: $font-dancingScript;
      font-weight: bold;
      font-size: 30px;
      margin-bottom: 30px;
      color: $color-primary;
    }
    &-paragraph {
      @include textStyles;
      font-family: $font-josefinSans;
      font-size: 18px;
      margin-bottom: 30px;
      text-align: center;
      color: $color-primary;
    }

    &-btn {
      width: 150px;
      height: 40px;
      color: $color-primary;
      background-color: $color-white;
      outline: none;
      font-family: $font-josefinSans;
      font-size: 16px;
      border: 1px solid $color-primary;
      border-radius: 30px;
      cursor: pointer;
    }
  }
  &-img {
    @extend %fullSpace;
    object-fit: cover;
    opacity: 0.5;
  }
}
