.navbar {
  position: relative;
  z-index: 200;
  &-navigation {
    display: flex;

    &-left {
      width: 50vw;
      height: 100vh;
      background-color: $color-dark;
      position: fixed;
      left: -50vw;
      transition: left 0.8s cubic-bezier(1, 0, 0, 1);

      .left-img {
        width: 35%;
        position: absolute;
        box-shadow: 0 15px 60px rgba($color-black, 0.4);
        border-radius: 10px;
        transition: 0.5s;

        &:hover {
          filter: brightness(0.5);
        }
      }

      .left-img-1 {
        top: 10%;
        left: 15%;
      }
      .left-img-2 {
        top: 30%;
        left: 25%;
      }
      .left-img-3 {
        top: 50%;
        left: 35%;
      }
    }

    &-right {
      width: 50vw;
      height: 100vh;
      background-color: #1f1d1d;
      position: fixed;
      right: -50vw;
      transition: right 0.8s cubic-bezier(1, 0, 0, 1);
      @include flexLayout;
    }

    .nav-list {
      &-item {
        list-style: none;
      }

      &-link {
        font-family: $font-josefinSans;
        font-size: 30px;
        @include textStyles;
        color: $color-secondary;
        text-decoration: none;
        display: block;
        margin: 35px;
        transition: 0.5s;

        &:hover {
          color: $color-primary;
          letter-spacing: 4px;
        }
      }
    }
  }
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  left: 0;
}
.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  right: 0;
}
.checkbox:checked ~ .hamburger-menu .menu {
  transform: rotateZ(90deg);
}
.checkbox:checked ~ .hamburger-menu .menu-line-1 {
  transform: rotateZ(-40deg);
}
.checkbox:checked ~ .hamburger-menu .menu-line-2 {
  opacity: 0;
}
.checkbox:checked ~ .hamburger-menu .menu-line-3 {
  transform: rotateZ(+40deg);
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url(../images/code.jpg) center no-repeat;
  background-size: cover;
  .brand {
    @include position(15%);
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &-banner {
    @include position(50%);
    text-align: center;
    margin-top: 20px;
  }
}
.about-us {
  height: 110vh;
  display: flex;
  justify-items: center;
  align-items: center;

  &-left {
    width: 40%;
    padding: 0.5rem;
    img {
      width: 100%;
      opacity: 0.5;
      border-radius: 50%;
    }
  }
  &-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.2rem;
    .main-heading {
      font-family: $font-dancingScript;
      font-size: 50px;
      margin-bottom: 20px;
    }
    .sub-heading {
      font-size: 20px;
      margin-bottom: 10px;
    }
    .stars {
      margin: 14px 0;
    }
    .star {
      font-size: 12px;
      color: $color-primary;
      margin-left: 10px;
    }
    .description {
      text-align: justify;
      color: $color-secondary;
      font-size: 16px;
      line-height: 20px;
      font-family: $font-josefinSans;
      &::first-letter {
        padding-left: 30px;
      }
    }
  }
}

.gallery {
  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer {
  padding: 50px 0;
  @include flexLayout;
  flex-direction: column;

  &-header {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    gap: 1rem;

    .logo {
      font-size: 30px;
    }
    .main-name {
      font-size: 30px;
    }
    .sun-name {
      font-size: 20px;
    }
  }
  .social-media {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-bottom: 50px;

    &-item {
      list-style: none;
    }

    &-link {
      text-decoration: none;
      color: $color-secondary;
      font-size: 35px;
      transition: color 0.7s;
      &:hover {
        color: $color-primary;
      }
    }
  }

  &-copyright-paragraph {
    font-family: $font-nunito;
    font-size: 14px;
    color: $color-secondary;
  }
}
